$color-white: #fff;


$jl-color-silver: #d8d8d8;

$jl-color-text: #141414;
$jl-color-text-light: #6b6b6b;
$jl-color-text-highlight: #FF4438;


$tablet-breakpoint: 768px;

$jl-font-size: 1.6rem;
$jl-font-size-large: 2.4rem;
$jl-font-size-x-large: 3.2rem;

$jl-spacing-s: 1rem;
$jl-spacing-m: 1.6rem;
$jl-spacing-l: 2.4rem;
$jl-spacing-xl: 3.2rem;